<div class="snippet-explanation">
		<h3>Multi-language programming</h3>
		<p>Components in a COHORTE system can be implemented using your Java or Python programming languages (other languages are under study). You can also wrap C modules within Python components to use legacy C code. In addition, you can dynamically update the C code without any complications.COHORTE uses two similar Service-Oriented Component-based frameworks for Java and Python environments. Service provider can be implemented using Python and used by another component implemented in Java.</p>
	</div>
<div>
	<img src="{{ site.baseurl }}/resources/images/what-is-cohorte-img2.png"/>
</div>