<img src="{{ site.baseurl }}/resources/images/getting-started/getting-started-step2.png" class="getting-started-step-image"/>

<div>
		<h3>Implement your components</h3>
		<ul>
			<li>Using Java (OSGi/iPOJO) - Python (Pelix/iPOPO) - C#, C/C++ (Pelix/iPOPO wrappers)</li>
			<li>Write only your Componnets' business logic, not technical code for remote communications and life cycle management</li>
			<li>Dependencies between components (even located on different machines) are injected at runtime</li>
			<li>Package your components and their libraries on <i>bundles</i></li>
		</ul>
		<br/>
		<br/>
		
</div>
