
<img src="{{ site.baseurl }}/resources/images/getting-started/getting-started-step4.png" class="getting-started-step-image"/>

<h3>Deployment plan</h3>
		<ul>
			<li>Create/Update deployment and composition configuration file</li>
			<li>You can specify that any Node with a given "name" should have an instance of a one particular component</li>
			<li>You can have multiples isolates in the same node to seperate between components</li>
		</ul>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
<a id="getting-started-step2" class="float-left" > Previous </a>
<a id="getting-started-step1-btn" class="btn float-right"> Next > </a>