
<div class="getting-started-box">
  <div class="container">
    <div class="row">
      <h2>Using COHORTE</h2>
      <div class="getting-started-container-main">
        <header class="getting-started-onboarding-header">
          <ol class="getting-started-nav">
            <li class="active" id="getting-started-step1">Architect</li>
            <li id="getting-started-step2">Implement</li>
            <li id="getting-started-step3">Plan</li>
            <li id="getting-started-step4">Prepare</li>
            <li id="getting-started-step5">Run</li>
          </ol>
        </header>

        <div id="getting-started-steps-row">
          <div class="container">
            <div class="row">
            </div>
          </div>
        </div>

        <div id="hidden-getting-started-step-1">{% include getting-started-step-1.html %}</div>
        <div id="hidden-getting-started-step-2">{% include getting-started-step-2.html %}</div>
        <div id="hidden-getting-started-step-3">{% include getting-started-step-3.html %}</div>
        <div id="hidden-getting-started-step-4">{% include getting-started-step-4.html %}</div>
        <div id="hidden-getting-started-step-5">{% include getting-started-step-5.html %}</div>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- ./getting-started-box -->