<img src="{{ site.baseurl }}/resources/images/getting-started/getting-started-step5.png" class="getting-started-step-image"/>

<h3>Run your application</h3>
<ul>
	<li>Choose communication transport (HTTP/XMPP)</li>
	<li>Choose a Node to be Top Composer</li>
	<li>Start the Nodes</li>
	<li>Monitor your application</li>
	<li>Application isolates are created automatically, and whenever a component fails it will be be placed on different isolate</li>
	<li>Other nodes can be added dynamically. If it's name is referenced on the composition configuration, the Top Composer will order it to instanciate the related components.
	</ul>
	<br/>




