<img src="{{ site.baseurl }}/resources/images/getting-started/getting-started-step1.png" class="getting-started-step-image"/>

<div >
	<h3>Architect your application</h3>
	<ul>
	<li>Your application is designed following the Service-Oriented architecture approach.</li>
	<li>You "specify" components providing and consuming services.
	<li>No information about the deployment constraints are given at this step (seperation of preoccupations). 
	</ul>
	<br/>
	<br/>
	<!--<a id="getting-started-step2" class="float-left" > Previous </a>-->
    <a id="getting-started-step1-btn" class="btn float-right"> Next > </a>
	
</div>

<script>
$( "getting-started-step1-btn" ).click(function() {
  console.log("clicked on next..");
});
</script>