<div class="key-points-box">
  <div class="container">
    <div class="key-points-container-main">
      <div class="row">
        <h2>COHORTE in Nutshell</h2>      
      </div> <!-- /.row -->
      <div class="row">      
          <div class="col-md-4">            
            <div class="key-point" id="key-point-1">
              <img src="{{ site.baseurl }}/resources/images/key-points/key-point-1-icon.png" class="key-point-icon"/>
              <h3>Service-Oriented Component-based Applications</h3>
              <p>All system processes are placed into separate components which communicate with each other via services.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="key-point" id="key-point-2">
              <img src="{{ site.baseurl }}/resources/images/key-points/key-point-2-icon.png" class="key-point-icon"/>
              <h3>Multi-Language Programming</h3>
              <p>COHORTE supports both Python and Java. You can develop your application using one of this two languages or a mixture of them.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="key-point" id="key-point-3">
              <img src="{{ site.baseurl }}/resources/images/key-points/key-point-3-icon.png" class="key-point-icon"/>
              <h3>Components Distribution</h3>
              <p>Software Components are seen as black boxes and can be placed anywhere on the COHORTE distributed platform. They use remote services as it  was local calls.</p>
            </div>
          </div>
      </div>
      <div class="row">
          <div id="code-snippet-row1">
            <div class="container">
              <div class="row">
              </div>
            </div>
          </div>
      </div>
      <div class="row">      
          <div class="col-md-4">
            <div class="key-point" id="key-point-4">
              <img src="{{ site.baseurl }}/resources/images/key-points/key-point-4-icon.png" class="key-point-icon"/>
              <h3>Heterogeneous environments</h3>
              <p>COHORTE supports multiple deployment environments in local area networks or across Internet. It uses an universla messaging framework to integrate the different parts.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="key-point" id="key-point-5">
              <img src="{{ site.baseurl }}/resources/images/key-points/key-point-5-icon.png" class="key-point-icon"/><br/>
              <h3>Dynamic Isolation & resilience</h3>
              <p>COHORTE applications are able to recover and repair themselves automatically for seamless business continuity.</p>
            </div>  
          </div>
          <div class="col-md-4">
            <div class="key-point" id="key-point-6">
              <img src="{{ site.baseurl }}/resources/images/key-points/key-point-6-icon.png" class="key-point-icon"/>
              <h3>Development & Monitoring Tools</h3>
              <p>COHORTE developers can use their prefered IDE. We provide information about how to integrate COHORTE in their development process.</p>
            </div>
          </div>      
      </div>
      <div class="row">
          <div id="code-snippet-row2">
            <div class="container">
              <div class="row">
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="key-point-learn-more">
        <a class="btn btn-danger " href="{{ site.baseurl }}/docs/1.x/what-is-cohorte"><b>Learn More</b></a>&nbsp;
        </div>
      </div>
    </div>
  </div> <!-- /.container -->
</div> <!-- /.key-points -->