

<div class="footer">
	<div class="container">
		<ul>
			<li><h5>Documentation</h5></li>
			<li><a href="{{ site.baseurl }}/documentation/what-is-cohorte.html">What is COHORTE?</a></li>
			<li><a href="{{ site.baseurl }}/documentation/getting-started.html">Getting Started</a></li>
			<li><a href="{{ site.baseurl }}/documentation/tutorials.html">Tutorials</a></li>
			<li><a href="{{ site.baseurl }}/documentation/demonstrations.html">Demonstrations</a></li>
			<li><a href="{{ site.baseurl }}/documentation/publications.html">Articles & Publications</a></li>
			<li><a href="{{ site.baseurl }}/documentation/guide.html">Reference Guide</a></li>
		</ul>
		<ul>
			<li><h5>Downloads</h5></li>
			<li><a href="/download/">Stable Release</a></li>
			<li><a href="/download/{{ site.devscalaversion }}.html">Development Release</a></li>
		</ul>
		<ul>
			<li><h5>Community</h5></li>
			<li><a href="{{ site.baseurl }}/community/index.html#mailing_lists">Mailing lists</a></li>
			<li><a href="{{ site.baseurl }}/community/index.html#github">GitHub</a></li>
		</ul>
		<ul>
			<li><h5>COHORTE</h5></li>
			<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
			<li><a href="{{ site.baseurl }}/news">News Archive</a></li>
			<li><a href="{{ site.baseurl }}/license.html">COHORTE License</a></li>
		</ul>
		</div>
		<div class="container">
		<div class="copyright">
			<a style="float: left; margin-right: 8px;" href="http://isandlatech.com"><img src="{{ site.baseurl }}/resources/images/isandlatech-logo-sm-carre.png" alt="isandlaTech logo" /></a>
			<p style="float: left;"><br/>Copyright &copy; 2011-<span class="current-year"></span> isandla<i>Tech</i> S.A.R.L<br/>3 chemin du vieux chêne. 38240 Meylan, France</p>
		</div>
		<div class="cohorte-logo-footer">
			<span style="font-size:70%; color:#aaa;"><a href="http://isandlatech.com">isandla<i>Tech</i></a> is the principal sponsor of </span><img src="{{ site.baseurl }}/resources/images/cohorte-logo-footer.png" alt="COHORTE footer logo" />
		</div>
	</div> <!-- container -->
</div> <!-- footer -->


    <!-- jQuery -->
    <script src="{{ site.baseurl }}/resources/js/2/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}/resources/js/2/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

    {% unless page.layout == 'page' %}
    <!-- table of contents JS -->
    <script src="{{ site.baseurl }}/resources/js/toc.js" type="text/javascript" ></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#toc').toc({exclude: 'h1, h5, h6', context: '', autoId: true, numerate: false});
        function moveScroller() {
          if ($(".sidebar").length == 0)
            return;
          var a = function() {
            var topOfScroll = $(window).scrollTop();
            var topOfSidebar = $(".sidebar").offset().top;
            var sidebarInner = $(".sidebar-inner");
            var bottomOfSidebarInner = $(".sidebar-inner").offset().top + $(".sidebar-inner").outerHeight();
            var topOfFooter = $(".footer").offset().top - 10;
            var footerHeight = $(".footer").outerHeight();
            if (topOfScroll > topOfSidebar) {
              if (bottomOfSidebarInner > topOfFooter) {
                sidebarInner.css({position:"fixed",bottom:footerHeight,top:""});
              } else {
                sidebarInner.css({position:"fixed",top:"10px",bottom:""});
              }
            } else {
              sidebarInner.css({position:"relative",top:""});
            }
          };
          $(window).scroll(a);a()
        }
        moveScroller();
      })
    </script>
    {% endunless %}

	<script src="{{ site.baseurl }}/resources/js/2/cohorte.js" type="text/javascript"></script>

</body>

</html>
