---
layout: default
title: COHORTE Project web site
---

{% include page_header.html %}

<!-- ***************** Splash + nav ******************* -->

<div class="splash">
  <div class="darkblue-overlay">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="cohorte-logo">
          <img src="{{ site.baseurl }}/resources/images/cohorte-logo.png" alt="Cohorte Logo" />
          <!-- <div class="spiral-logo"><img src="{{ site.baseurl }}/resources/img/scala-spiral-white.png"/></div> -->
          <!-- <div class="scala-text">Scala</div> -->
        </div>
        {% include navbar.html %}
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="splash-text ontop">
          <h2 style="font-weight: 500;">Resilient Component-based Software Platform</h2>
          <p class="splash-pitch">
            COHORTE is a platform for developing and rolling out robust and reliable software.
            Software produced with COHORTE has a high level of robustness and reliability since 
            its is made up of a range of components and services protected from one another by 
            isolation containers. This modular architecture guarantees that software cannot be 
            paralyzed in the event of failure of one of its components.
          </p>
          <br/>
          <a class="splash-btn" href="{{ site.baseurl }}/docs/1.x/what-is-cohorte">Learn More</a>&nbsp;
          <a class="splash-btn" href="{{ site.baseurl }}/docs/1.x/tutorials">Getting Started</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="splash-btn-darker" href="{{ site.baseurl }}/downloads/">Download</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ***************** getting started steps ******************* -->

<div class="getting-started-box">
  <div class="bullet-row-1-wrap">
    <div class="container">
      <div class="row">
        <div class="span12 getting-started">
          <h2><span>Using COHORTE</span></h2>
          <p class="click">&nbsp;click next and previous buttons to switch between steps&nbsp;</p>
        </div>
      </div>
      <div class="getting-started-container-main">
        <header class="getting-started-onboarding-header">

          <ol class="getting-started-nav">
            <li class="active" id="getting-started-step1">Architect</li>
            <li id="getting-started-step2">Implement</li>
            <li id="getting-started-step3">Plan</li>
            <li id="getting-started-step4">Prepare</li>
            <li id="getting-started-step5">Run</li>
          </ol>
        </header>

        <div id="getting-started-steps-row">
          <div class="container">
            <div class="row">
            </div>
          </div>
        </div>

        <div id="hidden-getting-started-step-1">{% include getting-started-step-1.html %}</div>
        <div id="hidden-getting-started-step-2">{% include getting-started-step-2.html %}</div>
        <div id="hidden-getting-started-step-3">{% include getting-started-step-3.html %}</div>
        <div id="hidden-getting-started-step-4">{% include getting-started-step-4.html %}</div>
        <div id="hidden-getting-started-step-5">{% include getting-started-step-5.html %}</div>

      <div class="container-main">
      <div class="code-snippet-arrow"></div>
    </div>
  </div>

<!-- ***************** key points ******************* -->
<div class="bullet-point-box">
  <div class="bullet-row-1-wrap">
    <div class="container">
      <div class="row">
        <div class="span12 bullet-point">
          <h2><span>COHORTE in a Nutshell</span></h2>
          <p class="click">&nbsp;click the boxes below to see more details&nbsp;</p>
        </div>
      </div>
      <div class="row">
        <div class="span4 bullet-point" id="key-point-1">
          <img src="{{ site.baseurl }}/resources/images/key-point-1-icon.png" class="key-point-icon"/>
          <h3>Service-Oriented Component-based Applications</h3>
          <p>All system processes are placed into separate components which communicate with each other via services.</p>
        </div>
        <div class="span4 bullet-point" id="key-point-2">
          <img src="{{ site.baseurl }}/resources/images/key-point-5-icon.png" class="key-point-icon"/>
          <h3>Multi-Language Programming</h3>
          <p>COHORTE supports both Python and Java. You can develop your application using one of this two languages or a mixture of them.</p>
        </div>
        <div class="span4 bullet-point" id="key-point-3">
          <img src="{{ site.baseurl }}/resources/images/key-point-2-icon.png" class="key-point-icon"/>
          <h3>Components Distribution</h3>
          <p>Software Components are seen as black boxes and can be placed anywhere on the COHORTE distributed platform. They use remote services as it  was local calls.</p>
        </div>
      </div>
      <div class="code-snippet-arrow"></div>
    </div>
  </div>

  <div id="code-snippet-row1">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>

  <div class="bullet-row-2-wrap">
    <div class="container">
      <div class="row">

        <div class="span4 bullet-point" id="key-point-4">
          <img src="{{ site.baseurl }}/resources/images/key-point-3-icon.png" class="key-point-icon"/>
          <h3>Heterogeneous environments</h3>
          <p>COHORTE supports multiple deployment environments in local area networks or across Internet. It uses an universla messaging framework to integrate the different parts.</p>
        </div>
        <div class="span4 bullet-point" id="key-point-5">
          <img src="{{ site.baseurl }}/resources/images/key-point-4-icon.png" class="key-point-icon"/><br/>
          <h3>Dynamic Isolation & resilience</h3>
          <p>COHORTE applications are able to recover and repair themselves automatically for seamless business continuity.</p>
        </div>                
        <div class="span4 bullet-point" id="key-point-6">
          <img src="{{ site.baseurl }}/resources/images/key-point-6-icon.png" class="key-point-icon"/>
          <h3>Development & Monitoring Tools</h3>
          <p>COHORTE developers can use their prefered IDE. We provide information about how to integrate COHORTE in their development process.</p>
        </div>
      </div>
      <div class="code-snippet-arrow"></div>
    </div>
  </div>

  <div id="code-snippet-row2">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>

  <!--div class="where-to-learn-more">
    <div class="container">
      <div class="row">
        <div class="span12">
          <a class="splash-btn" href="{{ site.baseurl }}/what-is-cohorte.html">Learn More</a>
          <p>or visit the <a class="italicize" href="{{ site.baseurl }}/documentation">COHORTE Documentation</a></p>
        </div>
      </div>
    </div>
  </div-->
	  <!-- hidden code-snippet content -->
	<div id="hidden-key-point-1">{% include bullet-key-point-1.html %}</div>
	<div id="hidden-key-point-2">{% include bullet-key-point-2.html %}</div>
	<div id="hidden-key-point-3">{% include bullet-key-point-3.html %}</div>
	<div id="hidden-key-point-4">{% include bullet-key-point-4.html %}</div>
	<div id="hidden-key-point-5">{% include bullet-key-point-5.html %}</div>
	<div id="hidden-key-point-6">{% include bullet-key-point-6.html %}</div>
</div>



 

<!-- news and events -->



-->
{% include page_footer.html %}
