---
layout: default
toc: true
---

{% include page_header.html %}

  <!-- Navigation -->
  {% include navbar.html %}




<!--div class="darkstrip"></div-->

<div class="page-title-style">
  <div class="container">
    <h1 id="page-title">{{ page.title }}</h1>
  </div>
</div>

<div class="page-container">
  <div class="container" style="min-height: 540px;">
    <div class="row">
      <div class="span12">
          <div class="main-page-column" style="width: 100%;">
            {% if page.by %}
              <div class="written">Written By: <span class="by">{{ page.by }}</span></div>
            {% endif %}
            {{ content }}
          </div>
      </div>
    </div>
  </div>
</div>

{% include page_footer.html %}
