---
layout: default
---

{% include page_header.html %}

<div class="darkstrip"></div>

<div class="darkbluetopbar">
  <div class="container" style="height: 100%">
    <div class="navbar-wrap">
      <div class="container" style="position: relative; height: 100%;">
        <div class="cohorte-logo">
          <a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/resources/images/cohorte-logo-sm.png" alt="Cohorte logo" /></a>
        </div>
        {% include navbar.html %}
      </div>
    </div>
  </div>
</div>

<div class="midbluebar">
  <div class="container">
    <h1 id="page-title">{{ page.title }}</h1>
  </div>
</div>

<div class="page-container">
  <div class="container" style="min-height: 540px;">
    <!-- <div class="row"> -->
      <!-- <div class="span12"> -->
          <div class="main-page-column">
            {% if page.by %}
              <div class="written">Written By: <span class="by">{{ page.by }}</span></div>
            {% endif %}
            {{ content }}
            <br/>
            <br/>
            <br/>
            {% if page.previous_page %}
            <a href="{{ page.previous_page }}" class="btn float-left" title="Previous page"> Previous </a>
            {% endif %}
            {% if page.next_page %}
            <a href="{{ page.next_page }}" class="btn float-right" title="Next page"> Next </a>
            {% endif %}
            <hr/>
            <br/>
            <br/>
            {% if page.comments %}
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'cohorte'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                
            {% endif %}    
          </div>
          <div class="sidebar">
            <div class="sidebar-inner">
              <div class="contents">Contents</div>
              <div id="toc"></div>
            </div>
          </div>
          <div style="clear:both"></div>
      <!-- </div> -->
    <!-- </div> -->
  </div>
</div>



{% include page_footer.html %}
